<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
			<div class = 'header'>
			<h1>{{restaurant.name}}</h1>
		</div>

		<a href='{{url_for('newMenuItem', restaurant_id = restaurant.id) }}'>Create New Item</a>
		<br>
		<a href='{{ url_for('LandingPage')}}'>Back to Restaurants List</a>

		<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}

		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong></li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		</div>

		{% if not items.all() %}
		<div class = 'empty'>
			<p>This restaurant got no items yet!</p>
		</div>
		{% endif %}

		{% for i in items %}
		<div class = 'nameAndPrice'>
			<span class = 'name'><p>{{i.name}}</p></span>
			<span class = 'price'><p>{{i.price}}</p></span>
			<span class = 'course'><p>{{i.course}}</p></span>
		</div>
		<div class = 'description'>
			<p>{{i.description}}</p>
		</div>

		<div class = "editdeletepane">
			<a href = '{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a>
			<a href = '{{url_for('delMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a>
		</div>

		{% endfor %}

		</div>
	</body>
</html>